# Data Science Assignment 03: Web Scraping

In [1]:
# Import all the necessary packages
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
# The url of the website we are going to scrape
url = "https://webpages.charlotte.edu/mscipion/"

# Send HTTP request to get the specified URL
response = requests.get(url)
response.raise_for_status()

In [3]:
# Create a soap object by passing the HTML content
# This will allow us to extract the data
soup = BeautifulSoup(response.content, 'html.parser')

In [4]:
# We use the find method which will locate the table and find it's reference
table = soup.find("table", class_="table table-sm table-hover screenertable")

In [5]:
# Find the table
table = soup.find('table')

In [6]:
# Now we will extra the data from the table
table_data = []
headers = []

In [7]:
# Extract the headers from the table
for th in table.find_all('th'):
    headers.append(th.text.strip())

In [8]:
# Extract the rows from the table
for row in table.find_all('tr')[1:]:  # Skipping the header row
    cols = row.find_all('td')
    cols = [ele.text.strip() for ele in cols]
    table_data.append(cols)

In [9]:
# Now we create the DataFrame
df = pd.DataFrame(table_data, columns=headers)

df.head()

  Student Favourite Computer Language Years of Experience
0    Fred                      Kotlin                   4
1   Paula                      Python                   2
2   Ernst                        Java                   7
3  Isabel                         C++                   3
4    Tony                       Pearl                   7